.navbar-brand:hover {
    color: #777;
}

.navbar-brand a {
    color: inherit;
}

.navbar-brand a:hover {
    color: #333;
    text-decoration: none;
}

#notes .note-row {
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}

#notes .note-row:last-of-type {
    border-bottom: none;
}


body {
    padding-bottom: 70px;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    color: #777;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}